@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap'); /* Импортируем шрифт Poppins */

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary: #6a59ff;
  --white: #ffffff;
  --bg: #222224; /* Dark background */
  --text-color: #ffffff;
  --text-soft: 'Poppins', sans-serif; /* Более мягкий шрифт */
  --hover-glow-color: #6a59ff; /* Purple color for text glow on hover */
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (min-width: 1440px) {
  html {
    font-size: 62.5%; /* Reset zoom */
  }
}

@media (min-width: 2560px) {
  html {
    font-size: 62.5%; /* Reset zoom */
  }
}

@media (min-width: 3860px) {
  html {
    font-size: 62.5%; /* Reset zoom */
  }
}

::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

body {
  font-size: 1.6rem;
  background: url('./assets/image.png') repeat; /* Добавьте ваш путь к изображению */
  color: var(--text-color); /* Set text color */
  font-family: var(--text-soft); /* Set square-like font style */
  margin: 0; /* Ensure no default margin */
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure body takes full height */
  background-size: 100px 100px; /* Настройте размер повторяющегося изображения по вашему желанию */
  animation: moveBackground 800s linear infinite; /* Добавляем анимацию движения фона */
}

@keyframes moveBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

.container {
  max-width: 124rem;
  padding: 4rem 1rem;
  margin: 0 auto;
}

.heading {
  padding: 1rem 0;
  font-size: 3.5rem;
  text-align: center;
  color: var(--text-color); /* Set heading color */
  font-family: var(--text-soft); /* Set square-like font style */
  font-weight: 600; /* Сделать заголовок жирным */
}

.swiper_container {
  height: 60rem;
  padding: 2rem 0;
  position: relative;
}

.swiper-slide {
  width: 52rem;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  padding-bottom: 4rem; /* Добавляем отступ снизу */
}

.swiper-slide-active {
  opacity: 1;
}

.swiper-slide img {
  width: 37rem;
  height: 42rem;
  object-fit: cover;
}

.blurred-line {
  display: block;
  filter: blur(5px);
  transition: filter 0.5s ease-in-out;
  cursor: pointer;
}

.blurred-line:hover {
  filter: blur(0); /* Убираем размытие при наведении */
}

.image-text {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  text-align: center;
  color: var(--text-color);
  font-family: var(--text-soft);
  font-weight: 600; /* Сделать текст жирным */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 95%; /* Увеличиваем ширину контейнера для текста */
  margin-left: auto;
  margin-right: auto;
  transition: text-shadow 0.3s ease-in-out; /* Добавляем переход для тени текста */
}

.image-text:hover {
  text-shadow: 
    0 0 8px var(--hover-glow-color),
    0 0 16px var(--hover-glow-color),
    0 0 24px var(--hover-glow-color),
    0 0 32px var(--hover-glow-color); /* Добавляем жёсткое свечение текста при наведении */
}

@media (max-width: 500px) {
  .swiper_container {
    height: 80rem;
  }
  .swiper-slide {
    width: 50rem !important;
    height: 50rem;
  }
  .swiper-slide img {
    width: 50rem !important;
    height: 50rem !important;
  }
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.swiper-pagination {
  position: absolute;
  width: 100%;
  bottom: 2rem;
  display: flex;
  justify-content: center;
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
  background: #999999; /* Gray color for inactive bullets */
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}
